div {
    background-color: purple;
}
body {
    margin: 0;
}

h1 {
    margin-top: 0;
}


.middle {
    background-color: saddlebrown;
    width: 100px;
    height: 100px;
}


.botton {
    background-color: slateblue;
    width: 100px;
    height: 100px;
}